/* Estilos para la tabla */
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd; /* Borde de la tabla */
}

/* Estilos para las filas de encabezado */
th {
  background-color: #f2f2f2; /* Color de fondo para las filas de encabezado */
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd; /* Borde de las celdas del encabezado */
}

/* Estilos para las filas de datos */
tr {
  cursor: pointer; /* Cambia el cursor al puntero al pasar por encima */
}

/* Estilos para las filas de datos al pasar por encima */
tr:hover {
  background-color: #e2e2e2; /* Cambia el color de fondo al pasar por encima */
}

/* Estilos para las celdas de datos */
td {
  padding: 8px;
  border: 1px solid #ddd; /* Borde de las celdas de datos */
}
